@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
    color: inherit;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", cursive;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #525252;
    width: 90%;
    margin: auto;
}

img {
    max-width: 100%;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.fixed-top {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
}

.container {
    width: 90%;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

.border-all-thin {
    border: 1px solid #000;
}

.rounded-1 {
    border-radius: 1em;
}

.bg-primary {
    background-color: #93c0fb;
}

.bg-secondary {
    background-color: #b5a6d9;
}

.bg-error {
    background-color: #e06057;
}

.bg-success {
    background-color: #34da3f;
}

.bg-warning {
    background-color: #d7e057;
}

.bg-info {
    background-color: #746ce4;
}

.bg-light {
    background-color: #e9e9e9;
}

.bg-dark {
    background-color: #1d1e1f;
}

.pad-all-1 {
    padding: 1em;
}

.pad-top-1 {
    padding-top: 1em;
}

.pad-bottom-1 {
    padding-bottom: 1em;
}

.pad-left-1 {
    padding-left: 1em;
}

.pad-right-1 {
    padding-right: 1em;
}

.pad-y-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.pad-x-1 {
    padding-left: 1em;
    padding-right: 1em;
}

.marg-all-1 {
    margin: 1em;
}

.marg-top-1 {
    margin-top: 1em;
}

.marg-bottom-1 {
    margin-bottom: 1em;
}

.marg-left-1 {
    margin-left: 1em;
}

.marg-right-1 {
    margin-right: 1em;
}

.marg-y-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.marg-x-1 {
    margin-left: 1em;
    margin-right: 1em;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}