.pad-all-1 {
    padding: 1em;
}

.pad-top-1 {
    padding-top: 1em;
}

.pad-bottom-1 {
    padding-bottom: 1em;
}

.pad-left-1 {
    padding-left: 1em;
}

.pad-right-1 {
    padding-right: 1em;
}

.pad-y-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.pad-x-1 {
    padding-left: 1em;
    padding-right: 1em;
}