@use "sass:math";
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

h1 {
    @include xs {
        font-size: math.div($h1-font-size, 2);
    }
    @include sm {
        font-size: math.div($h1-font-size, 1.5);
    }
    @include lg {
        font-size: $h1-font-size;
    }
}

h2 {
    @include xs {
        font-size: math.div($h2-font-size, 2);
    }
    @include sm {
        font-size: math.div($h2-font-size, 1.5);
    }
    @include lg {
        font-size: $h2-font-size;
    }
}

h3 {
    @include xs {
        font-size: math.div($h3-font-size, 2);
    }
    @include sm {
        font-size: math.div($h3-font-size, 1.5);
    }
    @include lg {
        font-size: $h3-font-size;
    }
}

h4 {
    @include xs {
        font-size: math.div($h4-font-size, 2);
    }
    @include sm {
        font-size: math.div($h4-font-size, 1.5);
    }
    @include lg {
        font-size: $h4-font-size;
    }
}

h5 {
    @include xs {
        font-size: math.div($h5-font-size, 2);
    }
    @include sm {
        font-size: math.div($h5-font-size, 1.5);
    }
    @include lg {
        font-size: $h5-font-size;
    }
}

h6 {
    @include xs {
        font-size: math.div($h6-font-size, 2);
    }
    @include sm {
        font-size: math.div($h6-font-size, 1.5);
    }
    @include lg {
        font-size: $h6-font-size;
    }
}