.marg-all-1 {
    margin: 1em;
}

.marg-top-1 {
    margin-top: 1em;
}

.marg-bottom-1 {
    margin-bottom: 1em;
}

.marg-left-1 {
    margin-left: 1em;
}

.marg-right-1 {
    margin-right: 1em;
}

.marg-y-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.marg-x-1 {
    margin-left: 1em;
    margin-right: 1em;
}